<a href="https://colab.research.google.com/github/afeld/python-public-policy/blob/main/lecture_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **NYU Wagner - Python Coding for Public Policy**

# Class 2: Manipulating/combining DataFrames and writing functions

# LECTURE

## Operator precedence

a.k.a. order of operations

```python
answer = "No"

answer == "Yes" or "yes"
```

What will this evaluate to?

[Evaluation order](https://docs.python.org/3/reference/expressions.html#evaluation-order) and [operator precedence](https://docs.python.org/3/reference/expressions.html#operator-precedence)

Does Python follow [PEMDAS](https://en.wikipedia.org/wiki/Order_of_operations#Mnemonics)?

```python
answer = "No"


result =  answer == "Yes"  or "yes"
#           ↓
result =   "No"  == "Yes"  or "yes"
```

```python
#                 ↓
result = ( "No"  == "Yes") or "yes"
# `==` has higher precedence than `or`
```

```python
#                 ↓
result =        False      or "yes"
```

```python
#                          ↓
result =                 "yes"
```

In [1]:
answer = "No"

answer == "Yes" or "yes"

'yes'

## **Today's goal**: Which Community Districts have the most 311 requests? Why might that be?

### What's a Community District?

- 59 local governance districts each run by an appointed Community Board
- Community boards advise on land use and zoning, participate in the city budget process, and address service delivery in their district.
- Community boards are each composed of <= 50 volunteer members appointed by the local borough president, half from nominations by the local City Council members.

[More info](https://en.wikipedia.org/wiki/Community_boards_of_New_York_City)

![Map of community districts from Wikipedia](https://upload.wikimedia.org/wikipedia/commons/4/41/New_York_City_community_districts.svg)

## Setup

In [2]:
import pandas as pd

In [3]:
# Display more rows and columns in the DataFrames
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100

## Read our cleaned 311 Service Requests dataset

In [4]:
url = 'https://storage.googleapis.com/python-public-policy/data/311_Service_Requests_2018-19_clean.csv.zip'
df = pd.read_csv(url)

/usr/local/Caskroom/miniconda/base/envs/python-public-policy/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (8,17,20,31,34) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Dealing with dtypes

More data cleaning!

![Minion character vacuuming](https://impulsecreative.com/hs-fs/hubfs/cleaning-minion-gif.gif?width=490&name=cleaning-minion-gif.gif)

```
DtypeWarning: Columns (9,18,21,32,35) have mixed types.
```

In [5]:
df["Incident Zip"].unique().tolist()

['10029',
 '10031',
 '11216',
 '10010',
 '11413',
 '11211',
 '10033',
 '10022',
 '11213',
 '10040',
 nan,
 '10456',
 '11235',
 '11378',
 '11221',
 '11693',
 '10457',
 '10474',
 '10460',
 '11232',
 '11219',
 '10032',
 '11106',
 '10465',
 '11217',
 '11432',
 '11367',
 '11206',
 '10023',
 '11249',
 '11215',
 '11373',
 '10467',
 '10459',
 '10036',
 '10016',
 '10035',
 '11223',
 '10003',
 '11101',
 '10025',
 '10128',
 '11362',
 '10014',
 '10461',
 '11234',
 '11436',
 '11207',
 '10039',
 '10024',
 '11358',
 '11368',
 '10314',
 '11214',
 '10305',
 '10011',
 '11417',
 '11435',
 '11230',
 '10002',
 '11208',
 '10451',
 '10462',
 '11426',
 '10468',
 '11419',
 '11238',
 '11434',
 '10304',
 '11220',
 '11385',
 '11237',
 '10001',
 '10452',
 '10009',
 '10469',
 '11433',
 '10472',
 '11228',
 '10463',
 '10026',
 '11225',
 '11421',
 '11212',
 '10306',
 '10027',
 '11204',
 '10458',
 '10470',
 '11694',
 '10466',
 '10019',
 '11429',
 '11428',
 '11226',
 '10453',
 '11369',
 '10454',
 '10473',
 '11004',
 '10037',
 '11205',
 '10310',
 '11201',
 '11360',
 '11218',
 '11374',
 '11418',
 '11420',
 '11104',
 '11364',
 '10013',
 '11375',
 '10303',
 '11423',
 '11363',
 '11361',
 '10302',
 '11233',
 '11691',
 '11224',
 '11209',
 '10012',
 '10034',
 '11366',
 '11103',
 '10308',
 '11411',
 '11372',
 '10021',
 '10030',
 '11422',
 '10028',
 '10301',
 '11377',
 '11229',
 '11203',
 '10065',
 '11236',
 '11105',
 '11357',
 '11355',
 '10312',
 '11412',
 '10017',
 '10041',
 '11210',
 '11365',
 '11416',
 '11379',
 '10307',
 '11231',
 '11427',
 '10004',
 '10309',
 '11414',
 '10471',
 '10007',
 '10455',
 '11222',
 '11354',
 '10020',
 '10119',
 '11356',
 '11370',
 '11040',
 '10075',
 '10475',
 '11001',
 '11415',
 '11102',
 '10174',
 '10005',
 '10280',
 '11692',
 '10069',
 '10006',
 '10038',
 '11430',
 '37214-0065',
 '10278',
 '10018',
 '10464',
 '11239',
 '10107',
 '07024',
 '10000',
 '10282',
 '10271',
 '07114',
 '00083',
 '10151',
 '10120',
 '10044',
 '07310',
 '10112',
 '10168',
 '10106',
 '11791',
 '11359',
 '10281',
 '11559',
 '11371',
 '18773-9640',
 '11763',
 '07675',
 '50306',
 '11109',
 '10118',
 '07073',
 '10121',
 '10111',
 '11005',
 11208.0,
 10463.0,
 11426.0,
 10306.0,
 10027.0,
 11368.0,
 10026.0,
 10013.0,
 10024.0,
 11417.0,
 11413.0,
 11226.0,
 10454.0,
 11206.0,
 11379.0,
 11366.0,
 10001.0,
 10466.0,
 11249.0,
 11106.0,
 10037.0,
 10036.0,
 10018.0,
 11218.0,
 10314.0,
 10453.0,
 11230.0,
 11224.0,
 11377.0,
 11213.0,
 11378.0,
 10305.0,
 10469.0,
 10301.0,
 11433.0,
 11357.0,
 10461.0,
 11225.0,
 11436.0,
 11422.0,
 10040.0,
 11354.0,
 11233.0,
 11219.0,
 10033.0,
 10472.0,
 10312.0,
 10011.0,
 11373.0,
 10474.0,
 11204.0,
 10304.0,
 10007.0,
 11420.0,
 10003.0,
 11217.0,
 11211.0,
 11691.0,
 11215.0,
 11103.0,
 10455.0,
 11214.0,
 11220.0,
 10023.0,
 10457.0,
 11694.0,
 11234.0,
 11222.0,
 11209.0,
 10468.0,
 10022.0,
 10459.0,
 11201.0,
 11369.0,
 10452.0,
 11415.0,
 10021.0,
 10128.0,
 11228.0,
 11418.0,
 11693.0,
 11235.0,
 10456.0,
 11364.0,
 11105.0,
 10451.0,
 10460.0,
 10475.0,
 11203.0,
 11238.0,
 11101.0,
 11372.0,
 11355.0,
 11210.0,
 11216.0,
 11001.0,
 11205.0,
 11102.0,
 11236.0,
 11237.0,
 10309.0,
 11385.0,
 10012.0,
 10025.0,
 11212.0,
 10303.0,
 11207.0,
 11361.0,
 10467.0,
 11432.0,
 10075.0,
 11697.0,
 10065.0,
 10010.0,
 10120.0,
 11231.0,
 10019.0,
 11434.0,
 10031.0,
 11374.0,
 10035.0,
 11421.0,
 10009.0,
 11375.0,
 10470.0,
 10038.0,
 10006.0,
 10458.0,
 11221.0,
 11427.0,
 11229.0,
 11365.0,
 11232.0,
 10016.0,
 10005.0,
 10029.0,
 10308.0,
 11367.0,
 11412.0,
 10032.0,
 11358.0,
 10465.0,
 11419.0,
 11356.0,
 10002.0,
 10034.0,
 11435.0,
 10307.0,
 10000.0,
 10310.0,
 10302.0,
 10473.0,
 10014.0,
 10471.0,
 11692.0,
 11239.0,
 11360.0,
 11429.0,
 10030.0,
 11414.0,
 11370.0,
 11423.0,
 11362.0,
 11223.0,
 11104.0,
 10523.0,
 10039.0,
 11363.0,
 11416.0,
 11430.0,
 10462.0,
 11428.0,
 10110.0,
 10028.0,
 10464.0,
 11411.0,
 10017.0,
 10119.0,
 10004.0,
 11004.0,
 11371.0,
 11005.0,
 10167.0,
 7090.0,
 10044.0,
 11040.0,
 10107.0,
 10169.0,
 10112.0,
 10020.0,
 10282.0,
 11109.0,
 10106.0,
 10280.0,
 83.0,
 10550.0,
 10048.0,
 '08540-1515',
 '07144',
 '11501',
 '07102',
 '10178',
 '11580',
 '0000',
 '11709',
 '10173',
 '12345',
 '11010',
 '11516',
 '10103',
 '11697',
 '10169',
 '11749',
 '11520',
 '10115',
 '33762',
 '10167',
 '10801',
 'NOT GIVEN',
 '06903',
 10069.0,
 7114.0,
 10151.0,
 11559.0,
 10103.0,
 10271.0,
 10168.0,
 10172.0,
 10123.0,
 11710.0,
 11703.0,
 7078.0,
 10703.0,
 56303.0,
 10121.0,
 0.0,
 11386.0,
 11766.0,
 '08861',
 '10952',
 '06811',
 '11695',
 '37214',
 '11003',
 'UNKNOWN',
 '07071',
 10538.0,
 10279.0,
 10701.0,
 10162.0,
 10122.0,
 11553.0,
 7601.0,
 99999.0,
 18017.0,
 1451.0,
 11781.0,
 10281.0,
 10170.0,
 3060.0,
 10153.0,
 7028.0,
 13039.0,
 10278.0,
 1178.0,
 7115.0,
 77036.0,
 10704.0,
 7302.0,
 8361.0,
 6902.0,
 7657.0,
 7073.0,
 10041.0,
 11552.0,
 10105.0,
 11030.0,
 '00000',
 '07078',
 '14208',
 '07307',
 '92626-1902',
 '11747',
 '07748',
 '10158',
 11010.0,
 10115.0,
 7307.0,
 18773.0,
 7102.0,
 12222.0,
 'NJ07114',
 '12222',
 '10710',
 '10279',
 7057.0,
 11241.0,
 11582.0,
 '77272-2929',
 '90051-8167',
 '11756',
 10173.0,
 8021.0,
 7004.0,
 '13153',
 'HARRISBURG',
 '10162',
 '11241',
 '11735',
 '14221',
 'NEWARK',
 '07305',
 'N5X3A6',
 '11710',
 '11746',
 '32812',
 '33309',
 7101.0,
 11561.0,
 7093.0,
 11735.0,
 23450.0,
 11023.0,
 10176.0,
 7306.0,
 11581.0,
 55439.0,
 10804.0,
 11695.0,
 '11802',
 '11565',
 '10153',
 '11804',
 '11242',
 'NONE',
 '07020',
 10591.0,
 7631.0,
 17106.0,
 10543.0,
 11758.0,
 10158.0,
 10045.0,
 19034.0,
 11530.0,
 11596.0,
 10154.0,
 10993.0,
 11779.0,
 11570.0,
 '07621',
 '11553',
 '10172',
 '11021',
 '11042',
 'NOT KNOWN',
 '11758',
 '10994',
 11251.0,
 10705.0,
 100000.0,
 8505.0,
 11575.0,
 10165.0,
 7011.0,
 7054.0,
 11242.0,
 11126.0,
 7052.0,
 7000.0,
 11791.0,
 10055.0,
 11747.0,
 7086.0,
 25405.0,
 10177.0,
 10118.0,
 2771.0,
 7032.0,
 10152.0,
 7030.0,
 10178.0,
 10917.0,
 11788.0,
 10276.0,
 78704.0,
 '10177',
 '07306',
 'ANON',
 '08879',
 '????',
 '21258',
 '11704',
 '11762',
 '11803',
 '32255-1268',
 '10110',
 '08083',
 '11550',
 '48507-4685',
 '10123',
 10155.0,
 '10530',
 '10087-8454',
 '07007',
 '10601',
 '07012',
 '07086',
 '75265-0543',
 '11779',
 10601.0,
 7424.0,
 11803.0,
 10532.0,
 37214.0,
 10553.0,
 '11590',
 '12551-0831',
 7043.0,
 10179.0,
 10111.0,
 181.0,
 'IDK',
 '13329',
 '11801',
 '10155',
 '10562',
 '11050',
 '11716',
 '06902',
 11202.0,
 1801.0,
 35244.0,
 12553.0,
 10174.0,
 10259.0,
 10605.0,
 11359.0,
 10803.0,
 6851.0,
 10552.0,
 11542.0,
 11580.0,
 7002.0,
 11727.0,
 7305.0,
 6880.0,
 10096.0,
 12551.0,
 11050.0,
 '07047',
 '27414',
 '11581',
 '11735-9100',
 '0765',
 '11251',
 '07302',
 '01581-5171',
 '07054',
 7105.0,
 11598.0,
 '10154',
 '11726',
 'NJ 07310',
 '43017',
 79704.0,
 20602.0,
 11520.0,
 12345.0,
 11563.0,
 11577.0,
 43236.0,
 11741.0,
 98335.0,
 14814.0,
 7010.0,
 23502.0,
 '43614',
 'NJ 07114',
 '000000',
 '10502',
 '10105',
 11046.0,
 11757.0,
 30189.0,
 10801.0,
 11572.0,
 7660.0,
 '12346',
 '13501',
 '14614-195',
 '98057',
 11565.0,
 11769.0,
 11557.0,
 32822.0,
 10171.0,
 '11570',
 '10573',
 '07960',
 '10901',
 '10805',
 'JFK AIRPOR',
 '10708',
 '10116',
 '29616-0759',
 '10550',
 '03108',
 11510.0,
 979113.0,
 7310.0,
 46216.0,
 11802.0,
 11590.0,
 49204.0,
 10583.0,
 '11030',
 '11797',
 '10523',
 '100',
 '10522',
 'LE4',
 '22304',
 7735.0,
 33624.0,
 77306.0,
 11042.0,
 8536.0,
 8682.0,
 '07050',
 '11598',
 '07087',
 '10152',
 '40512-4444',
 11514.0,
 1757.0,
 11096.0,
 84119.0,
 7304.0,
 10708.0,
 31419.0,
 10522.0,
 48090.0,
 12754.0,
 32114.0,
 94267.0,
 11749.0,
 11756.0,
 33329.0,
 7024.0,
 19801.0,
 19904.0,
 30092.0,
 77092.0,
 '89119',
 '06901',
 '14068',
 '11722',
 '91716-0500',
 '11572',
 43017.0,
 7641.0,
 11024.0,
 8830.0,
 8865.0,
 10702.0,
 '07632',
 '06460',
 '10977',
 11753.0,
 10562.0,
 32255.0,
 92108.0,
 31131.0,
 11003.0,
 921008.0,
 33756.0,
 8837.0,
 11946.0,
 19850.0,
 10710.0,
 11740.0,
 80202.0,
 60018.0,
 10595.0,
 '48071-7527',
 10537.0,
 10977.0,
 7094.0,
 10802.0,
 33069.0,
 7654.0,
 7632.0,
 11963.0,
 11021.0,
 7050.0,
 '99999',
 '07605',
 'NJ070',
 7974.0,
 11801.0,
 10962.0,
 '10055',
 '55102-1211',
 '07030',
 '07631',
 6901.0,
 795.0,
 7071.0,
 11967.0,
 7083.0,
 94566.0,
 '75080',
 '11767-0651',
 '11566',
 '60005',
 6870.0,
 10502.0,
 7001.0,
 6067.0,
 10149.0,
 77081.0,
 11717.0,
 11795.0,
 11554.0,
 '98036',
 '10705',
 '07106',
 'UNK',
 '10165',
 '10528',
 6093.0,
 10272.0,
 19342.0,
 '98046 1548',
 '11024',
 '07304',
 '11563',
 '08542',
 'W1',
 7607.0,
 7666.0,
 12701.0,
 11516.0,
 8701.0,
 601488479.0,
 7202.0,
 14225.0,
 '10170',
 '78245',
 '43215-1441',
 '10176',
 '29615',
 '08081',
 11518.0,
 7026.0,
 11550.0,
 55433.0,
 33712.0,
 7303.0,
 '10590',
 '33434',
 '11507',
 '10541',
 '60656-1490',
 19703.0,
 10108.0,
 2132.0,
 1011.0,
 11701.0,
 7203.0,
 19013.0,
 7055.0,
 '11731',
 '11023',
 '48151-6090',
 94402.0,
 11352.0,
 7047.0,
 94129.0,
 3108.0,
 10579.0,
 10956.0,
 11111.0,
 11722.0,
 12209.0,
 '13502-5401',
 '07003',
 '11802-9060',
 '07029',
 '31093',
 '11735-0230',
 105550.0,
 13748.0,
 '10538',
 '00881',
 '08754-2137',
 '11110',
 10528.0,
 55432.0,
 10530.0,
 11576.0,
 2140.0,
 89118.0,
 7430.0,
 3784.0,
 11335.0,
 14614.0,
 32501.0,
 7079.0,
 8401.0,
 7626.0,
 7031.0,
 11725.0,
 43229.0,
 7080.0,
 7087.0,
 12601.0,
 92054.0,
 11704.0,
 75320.0,
 7111.0,
 10606.0,
 13373.0,
 43537.0,
 7208.0,
 92782.0,
 20005.0,
 21773.0,
 6831.0,
 1101.0,
 11011.0,
 10706.0,
 19082.0,
 11012.0,
 33130.0,
 10603.0,
 11742.0,
 10707.0,
 44060.0,
 32896.0,
 2298.0,
 '78681',
 '07111',
 'DID N',
 '10956',
 '11530',
 '1',
 '10983',
 'NJ 07',
 '46219',
 '11706',
 '10179',
 10080.0]

ZIP codes _look_ numeric, but aren't really.

Read the ZIP codes in as strings.

In [6]:
df2 = pd.read_csv(url, dtype={"Incident Zip": object})

/usr/local/Caskroom/miniconda/base/envs/python-public-policy/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (17,20,31,34) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

We fixed the dtype warning for column 9 (`Incident Zip`).

In [7]:
df2["Incident Zip"].unique().tolist()

['10029',
 '10031',
 '11216',
 '10010',
 '11413',
 '11211',
 '10033',
 '10022',
 '11213',
 '10040',
 nan,
 '10456',
 '11235',
 '11378',
 '11221',
 '11693',
 '10457',
 '10474',
 '10460',
 '11232',
 '11219',
 '10032',
 '11106',
 '10465',
 '11217',
 '11432',
 '11367',
 '11206',
 '10023',
 '11249',
 '11215',
 '11373',
 '10467',
 '10459',
 '10036',
 '10016',
 '10035',
 '11223',
 '10003',
 '11101',
 '10025',
 '10128',
 '11362',
 '10014',
 '10461',
 '11234',
 '11436',
 '11207',
 '10039',
 '10024',
 '11358',
 '11368',
 '10314',
 '11214',
 '10305',
 '10011',
 '11417',
 '11435',
 '11230',
 '10002',
 '11208',
 '10451',
 '10462',
 '11426',
 '10468',
 '11419',
 '11238',
 '11434',
 '10304',
 '11220',
 '11385',
 '11237',
 '10001',
 '10452',
 '10009',
 '10469',
 '11433',
 '10472',
 '11228',
 '10463',
 '10026',
 '11225',
 '11421',
 '11212',
 '10306',
 '10027',
 '11204',
 '10458',
 '10470',
 '11694',
 '10466',
 '10019',
 '11429',
 '11428',
 '11226',
 '10453',
 '11369',
 '10454',
 '10473',
 '11004',
 '10037',
 '11205',
 '10310',
 '11201',
 '11360',
 '11218',
 '11374',
 '11418',
 '11420',
 '11104',
 '11364',
 '10013',
 '11375',
 '10303',
 '11423',
 '11363',
 '11361',
 '10302',
 '11233',
 '11691',
 '11224',
 '11209',
 '10012',
 '10034',
 '11366',
 '11103',
 '10308',
 '11411',
 '11372',
 '10021',
 '10030',
 '11422',
 '10028',
 '10301',
 '11377',
 '11229',
 '11203',
 '10065',
 '11236',
 '11105',
 '11357',
 '11355',
 '10312',
 '11412',
 '10017',
 '10041',
 '11210',
 '11365',
 '11416',
 '11379',
 '10307',
 '11231',
 '11427',
 '10004',
 '10309',
 '11414',
 '10471',
 '10007',
 '10455',
 '11222',
 '11354',
 '10020',
 '10119',
 '11356',
 '11370',
 '11040',
 '10075',
 '10475',
 '11001',
 '11415',
 '11102',
 '10174',
 '10005',
 '10280',
 '11692',
 '10069',
 '10006',
 '10038',
 '11430',
 '37214-0065',
 '10278',
 '10018',
 '10464',
 '11239',
 '10107',
 '07024',
 '10000',
 '10282',
 '10271',
 '07114',
 '00083',
 '10151',
 '10120',
 '10044',
 '07310',
 '10112',
 '10168',
 '10106',
 '11791',
 '11359',
 '10281',
 '11559',
 '11371',
 '18773-9640',
 '11763',
 '07675',
 '50306',
 '11109',
 '10118',
 '07073',
 '10121',
 '10111',
 '11005',
 '11697',
 '10523',
 '10110',
 '10167',
 '07090',
 '10169',
 '10550',
 '10048',
 '08540-1515',
 '07144',
 '11501',
 '07102',
 '10178',
 '11580',
 '0000',
 '11709',
 '10173',
 '12345',
 '11010',
 '11516',
 '10103',
 '11749',
 '11520',
 '10115',
 '33762',
 '10801',
 'NOT GIVEN',
 '06903',
 '10172',
 '10123',
 '11710',
 '11703',
 '07078',
 '10703',
 '56303',
 '00000',
 '11386',
 '11766',
 '08861',
 '10952',
 '06811',
 '11695',
 '37214',
 '11003',
 'UNKNOWN',
 '07071',
 '10538',
 '10279',
 '10701',
 '10162',
 '10122',
 '11553',
 '07601',
 '99999',
 '18017',
 '1451',
 '11781',
 '10170',
 '03060',
 '10153',
 '07028',
 '13039',
 '1178',
 '07115',
 '77036',
 '10704',
 '07302',
 '08361',
 '06902',
 '07657',
 '11552',
 '10105',
 '11030',
 '14208',
 '07307',
 '92626-1902',
 '11747',
 '07748',
 '10158',
 '18773',
 '12222',
 'NJ07114',
 '10710',
 '07057',
 '11241',
 '11582',
 '77272-2929',
 '90051-8167',
 '11756',
 '08021',
 '07004',
 '13153',
 'HARRISBURG',
 '11735',
 '14221',
 'NEWARK',
 '07305',
 'N5X3A6',
 '11746',
 '32812',
 '33309',
 '07101',
 '11561',
 '07093',
 '23450',
 '11023',
 '10176',
 '07306',
 '11581',
 '55439',
 '10804',
 '11802',
 '11565',
 '11804',
 '11242',
 'NONE',
 '07020',
 '10591',
 '07631',
 '17106',
 '10543',
 '11758',
 '10045',
 '19034',
 '11530',
 '11596',
 '10154',
 '10993',
 '11779',
 '11570',
 '07621',
 '11021',
 '11042',
 'NOT KNOWN',
 '10994',
 '11251',
 '10705',
 '100000',
 '08505',
 '11575',
 '10165',
 '07011',
 '07054',
 '11126',
 '07052',
 '07000',
 '10055',
 '07086',
 '25405',
 '10177',
 '02771',
 '07032',
 '0',
 '10152',
 '07030',
 '10917',
 '11788',
 '10276',
 '78704',
 'ANON',
 '08879',
 '????',
 '21258',
 '11704',
 '11762',
 '11803',
 '32255-1268',
 '08083',
 '11550',
 '48507-4685',
 '10155',
 '10530',
 '10087-8454',
 '07007',
 '10601',
 '07012',
 '75265-0543',
 '07424',
 '10532',
 '00',
 '10553',
 '11590',
 '12551-0831',
 '07043',
 '10179',
 '00181',
 'IDK',
 '13329',
 '11801',
 '10562',
 '11050',
 '11716',
 '11202',
 '1801',
 '35244',
 '12553',
 '10259',
 '10605',
 '10803',
 '06851',
 '10552',
 '11542',
 '07002',
 '11727',
 '06880',
 '10096',
 '12551',
 '07047',
 '27414',
 '11735-9100',
 '0765',
 '01581-5171',
 '07105',
 '11598',
 '11726',
 'NJ 07310',
 '43017',
 '79704',
 '20602',
 '11563',
 '11577',
 '43236',
 '11741',
 '98335',
 '14814',
 '07010',
 '23502',
 '43614',
 'NJ 07114',
 '000000',
 '10502',
 '11046',
 '11757',
 '30189',
 '11572',
 '07660',
 '12346',
 '13501',
 '14614-195',
 '98057',
 '11769',
 '11557',
 '32822',
 '10171',
 '10573',
 '07960',
 '10901',
 '10805',
 'JFK AIRPOR',
 '10708',
 '10116',
 '29616-0759',
 '03108',
 '11510',
 '979113',
 '46216',
 '49204',
 '10583',
 '11797',
 '100',
 '10522',
 'LE4',
 '22304',
 '07735',
 '33624',
 '77306',
 '08536',
 '8682',
 '07050',
 '07087',
 '40512-4444',
 '11514',
 '01757',
 '11096',
 '84119',
 '07304',
 '31419',
 '48090',
 '12754',
 '32114',
 '94267',
 '33329',
 '19801',
 '19904',
 '30092',
 '77092',
 '89119',
 '06901',
 '14068',
 '11722',
 '91716-0500',
 '07641',
 '11024',
 '08830',
 '08865',
 '10702',
 '07632',
 '06460',
 '10977',
 '11753',
 '32255',
 '92108',
 '31131',
 '921008',
 '33756',
 '08837',
 '11946',
 '19850',
 '11740',
 '80202',
 '60018',
 '10595',
 '48071-7527',
 '10537',
 '07094',
 '10802',
 '33069',
 '07654',
 '11963',
 '07605',
 'NJ070',
 '07974',
 '10962',
 '55102-1211',
 '00795',
 '11967',
 '07083',
 '94566',
 '75080',
 '11767-0651',
 '11566',
 '60005',
 '06870',
 '07001',
 '06067',
 '10149',
 '77081',
 '11717',
 '11795',
 '11554',
 '98036',
 '07106',
 'UNK',
 '10528',
 '06093',
 '10272',
 '19342',
 '98046 1548',
 '08542',
 'W1',
 '07607',
 '07666',
 '12701',
 '08701',
 '601488479',
 '07202',
 '14225',
 '78245',
 '43215-1441',
 '29615',
 '08081',
 '11518',
 '07026',
 '55433',
 '33712',
 '07303',
 '10590',
 '33434',
 '11507',
 '10541',
 '60656-1490',
 '19703',
 '10108',
 '02132',
 '01011',
 '11701',
 '07203',
 '19013',
 '07055',
 '11731',
 '48151-6090',
 '94402',
 '11352',
 '94129',
 '10579',
 '10956',
 '11111',
 '12209',
 '13502-5401',
 '07003',
 '11802-9060',
 '07029',
 '31093',
 '11735-0230',
 '105550',
 '13748',
 '00881',
 '08754-2137',
 '11110',
 '55432',
 '11576',
 '02140',
 '89118',
 '07430',
 '03784',
 '11335',
 '14614',
 '32501',
 '07079',
 '08401',
 '07626',
 '07031',
 '11725',
 '43229',
 '07080',
 '12601',
 '92054',
 '75320',
 '07111',
 '10606',
 '13373',
 '43537',
 '07208',
 '92782',
 '20005',
 '21773',
 '06831',
 '1101',
 '11011',
 '10706',
 '19082',
 '11012',
 '33130',
 '10603',
 '11742',
 '10707',
 '44060',
 '32896',
 '02298',
 '78681',
 'DID N',
 '1',
 '10983',
 'NJ 07',
 '46219',
 '11706',
 '10080']

### Find invalid ZIP codes

Use a [regular expression (regex)](https://regexone.com/):

```
^\d{5}(?:-\d{4})?$
│ │ │  │        │└─ end of string
│ │ │  │        └─ optional
│ │ │  └─ capture group
│ │ └─ count
│ └─ numeric/digit character
└─ start of string
```

In [8]:
invalid_zips = df2["Incident Zip"].str.contains(r'^\d{5}(?:-\d{4})?$') == False
df2[invalid_zips]["Incident Zip"]

70618            0000
96525       NOT GIVEN
146742        UNKNOWN
164830           1451
179244           1178
249718        NJ07114
315767     HARRISBURG
327505         NEWARK
333729         N5X3A6
345002           0000
390257           NONE
430639        UNKNOWN
445201      NOT KNOWN
463948         100000
522146              0
562129           ANON
569620           ????
641525              0
644336             00
689861            IDK
706912           1801
762810              0
786024           0765
822817       NJ 07310
842565           0000
912126       NJ 07114
912278         000000
994251      14614-195
1077000    JFK AIRPOR
1099747        979113
1153423           100
1156231           LE4
1186303          8682
1241526        000000
1266817             0
1355194        000000
1427637       UNKNOWN
1476022        921008
1633955         NJ070
1810106           UNK
1840968    98046 1548
1847360        000000
1861435      NJ 07114
1880071            W1
1913353     601488479
2141590        105550
2435182          1101
2522527         DID N
2524582             1
2527563         NJ 07
Name: Incident Zip, dtype: object

Clear any invalid ZIP codes:

In [9]:
import numpy as np

df2.loc[invalid_zips, "Incident Zip"] = np.nan

General data cleaning tips:

- Hard part is finding what needs to be done
- Will be specific to your use case
- Document what you did, since it will affect your results

## View the contents of the `community_board` column in our 311 data

In [10]:
df["Community Board"].unique()

array(['11 MANHATTAN', '09 MANHATTAN', '08 BROOKLYN', '05 MANHATTAN',
       '12 QUEENS', '01 BROOKLYN', '12 MANHATTAN', '06 MANHATTAN',
       '0 Unspecified', '04 BRONX', '15 BROOKLYN', '05 QUEENS',
       '03 BROOKLYN', '14 QUEENS', '02 BRONX', '05 BRONX', '06 BRONX',
       '12 BROOKLYN', '11 BROOKLYN', '01 QUEENS', '10 BRONX',
       '06 BROOKLYN', '08 QUEENS', '07 MANHATTAN', '07 BROOKLYN',
       '04 QUEENS', '07 BRONX', '03 MANHATTAN', '03 BRONX',
       '08 MANHATTAN', '11 QUEENS', '02 MANHATTAN', '11 BRONX',
       '18 BROOKLYN', '05 BROOKLYN', '10 MANHATTAN', '02 STATEN ISLAND',
       '10 BROOKLYN', '01 STATEN ISLAND', '04 MANHATTAN', '10 QUEENS',
       '12 BRONX', '01 BRONX', '09 BRONX', '13 QUEENS', '08 BRONX',
       '09 QUEENS', 'Unspecified BROOKLYN', '04 BROOKLYN',
       'Unspecified MANHATTAN', 'Unspecified BRONX', '09 BROOKLYN',
       '16 BROOKLYN', '03 STATEN ISLAND', '14 BROOKLYN', '03 QUEENS',
       '07 QUEENS', '02 BROOKLYN', '06 QUEENS', 'Unspecified QUEENS',
       '02 QUEENS', '01 MANHATTAN', '17 BROOKLYN', '13 BROOKLYN',
       '81 QUEENS', '95 STATEN ISLAND', 'Unspecified STATEN ISLAND',
       '83 QUEENS', '27 BRONX', '26 BRONX', '64 MANHATTAN', '80 QUEENS',
       '55 BROOKLYN', '82 QUEENS', '56 BROOKLYN', '84 QUEENS', '28 BRONX'],
      dtype=object)

## Get the count of 311 requests per Community District

In [11]:
cb_counts = df.groupby('Community Board').size().reset_index(name='count_of_311_requests')
cb_counts = cb_counts.sort_values('count_of_311_requests', ascending=False)
cb_counts

              Community Board  count_of_311_requests
50               12 MANHATTAN                  81402
23                  05 QUEENS                  71506
51                  12 QUEENS                  70361
2                 01 BROOKLYN                  68101
12                03 BROOKLYN                  66360
5            01 STATEN ISLAND                  65145
31                  07 QUEENS                  63634
21                05 BROOKLYN                  61836
16                   04 BRONX                  61086
4                   01 QUEENS                  60425
58                17 BROOKLYN                  58864
54                14 BROOKLYN                  57194
28                   07 BRONX                  55735
59                18 BROOKLYN                  54523
39                  09 QUEENS                  54421
53                  13 QUEENS                  54003
48                   12 BRONX                  53688
45                11 BROOKLYN                  52801
20                   05 BRONX                  51820
13               03 MANHATTAN                  51399
42               10 MANHATTAN                  50024
17                04 BROOKLYN                  49552
35                  08 QUEENS                  49221
56                15 BROOKLYN                  48739
15           03 STATEN ISLAND                  48729
43                  10 QUEENS                  48707
49                12 BROOKLYN                  46420
30               07 MANHATTAN                  46230
36                   09 BRONX                  46044
7                 02 BROOKLYN                  44061
41                10 BROOKLYN                  43990
33                08 BROOKLYN                  43872
37                09 BROOKLYN                  42655
25                06 BROOKLYN                  42539
10           02 STATEN ISLAND                  40179
0               0 Unspecified                  39385
38               09 MANHATTAN                  39260
14                  03 QUEENS                  39240
73       Unspecified BROOKLYN                  38959
18               04 MANHATTAN                  38819
34               08 MANHATTAN                  38327
74      Unspecified MANHATTAN                  37652
44                   11 BRONX                  37505
22               05 MANHATTAN                  37466
8                02 MANHATTAN                  36688
29                07 BROOKLYN                  36290
9                   02 QUEENS                  35238
19                  04 QUEENS                  33501
40                   10 BRONX                  32879
32                   08 BRONX                  32807
47                  11 QUEENS                  32628
24                   06 BRONX                  32439
46               11 MANHATTAN                  32428
72          Unspecified BRONX                  30591
55                  14 QUEENS                  30350
26               06 MANHATTAN                  29874
11                   03 BRONX                  29738
57                16 BROOKLYN                  28742
75         Unspecified QUEENS                  28459
1                    01 BRONX                  27353
27                  06 QUEENS                  26407
52                13 BROOKLYN                  22156
3                01 MANHATTAN                  21259
6                    02 BRONX                  20039
76  Unspecified STATEN ISLAND                   3133
69                  83 QUEENS                   1100
65               64 MANHATTAN                    723
66                  80 QUEENS                    582
68                  82 QUEENS                    452
63                55 BROOKLYN                    365
67                  81 QUEENS                    239
60                   26 BRONX                    163
62                   28 BRONX                    134
71           95 STATEN ISLAND                    115
61                   27 BRONX                    105
64                56 BROOKLYN                     88
70                  84 QUEENS                     67

## **Research Question:** What may account for the variance in count of requests per community district?

## **Hypothesis:** Population size may help explain the variance.

We can combine the counts per community district dataset with population data for each community district.

## Let's load the population dataset and check out its contents

[Data source for population by Community District](https://data.cityofnewyork.us/City-Government/New-York-City-Population-By-Community-Districts/xi7c-iiu2/data)

In [12]:
population = pd.read_csv('https://data.cityofnewyork.us/api/views/xi7c-iiu2/rows.csv')
population.head()

,Borough,CD Number,CD Name,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population
0,Bronx,1,"Melrose, Mott Haven, Port Morris",138557,78441,77214,82159,91497
1,Bronx,2,"Hunts Point, Longwood",99493,34399,39443,46824,52246
2,Bronx,3,"Morrisania, Crotona Park East",150636,53635,57162,68574,79762
3,Bronx,4,"Highbridge, Concourse Village",144207,114312,119962,139563,146441
4,Bronx,5,"University Hts., Fordham, Mt. Hope",121807,107995,118435,128313,128200

## In order to join the two dataframes, we need to create a common ID in each.

[`BORO CODE`](https://www1.nyc.gov/assets/planning/download/pdf/data-maps/open-data/pluto_datadictionary.pdf#page=38) (a.k.a. `BoroCode`, `borocd`, and `boro_cd`) is a commonly-used a unique ID for community districts. Let's create functions that create that unique ID in our datasets.

**BoroCD** is a 3 digit integer that captures the borough and district number. The borough is represented by the first digit. The district number is padded with zeros so it's always two digits long.

Boroughs are recoded into the following numbers:
- 1: Manhattan
- 2: Bronx
- 3: Brooklyn
- 4: Queens
- 5: Staten Island

Ex: 
- Manhattan 12 --> 112
- Brooklyn 6 --> 306

### First, let's create a `borocd` column in `cb_counts` dataframe

In [13]:
cb_counts.head()

   Community Board  count_of_311_requests
50    12 MANHATTAN                  81402
23       05 QUEENS                  71506
51       12 QUEENS                  70361
2      01 BROOKLYN                  68101
12     03 BROOKLYN                  66360

Let's create a function called `recode_borocd_counts` that converts the `Community Board` value into a `borocd` value.

In [14]:
def recode_borocd_counts(row):
  if 'MANHATTAN' in row["Community Board"]:
    return '1' + row["Community Board"][0:2]
    # [0:2] provides the first 2 characters, i.e. characters at indexes 0 and 1.
    # you could also use [:2] without the zero.
  elif 'BRONX' in row["Community Board"]:
    return '2' + row["Community Board"][0:2]
  elif 'BROOKLYN' in row["Community Board"]:
    return '3' + row["Community Board"][0:2]
  elif 'QUEENS' in row["Community Board"]:
    return '4' + row["Community Board"][0:2]
  elif 'STATEN ISLAND' in row["Community Board"]:
    return '5' + row["Community Board"][0:2]
  else:
    return 'Invalid BoroCD'

As we can see, `def` creates functions:

In [15]:
type(recode_borocd_counts)

function

**Note:** The order of steps is important. You have to define a function before you can apply it to a dataframe.

In [16]:
cb_counts['borocd'] = cb_counts.apply(recode_borocd_counts, axis=1)

- `axis = 1` specifies that you want to apply the function across the rows instead of columns
- `cb_counts['borocd']` creates a new column in the dataframe called `borocd`
- `cb_counts.apply(function, axis)` applies the function we defined across the specified axis

In [17]:
cb_counts

              Community Board  count_of_311_requests          borocd
50               12 MANHATTAN                  81402             112
23                  05 QUEENS                  71506             405
51                  12 QUEENS                  70361             412
2                 01 BROOKLYN                  68101             301
12                03 BROOKLYN                  66360             303
5            01 STATEN ISLAND                  65145             501
31                  07 QUEENS                  63634             407
21                05 BROOKLYN                  61836             305
16                   04 BRONX                  61086             204
4                   01 QUEENS                  60425             401
58                17 BROOKLYN                  58864             317
54                14 BROOKLYN                  57194             314
28                   07 BRONX                  55735             207
59                18 BROOKLYN                  54523             318
39                  09 QUEENS                  54421             409
53                  13 QUEENS                  54003             413
48                   12 BRONX                  53688             212
45                11 BROOKLYN                  52801             311
20                   05 BRONX                  51820             205
13               03 MANHATTAN                  51399             103
42               10 MANHATTAN                  50024             110
17                04 BROOKLYN                  49552             304
35                  08 QUEENS                  49221             408
56                15 BROOKLYN                  48739             315
15           03 STATEN ISLAND                  48729             503
43                  10 QUEENS                  48707             410
49                12 BROOKLYN                  46420             312
30               07 MANHATTAN                  46230             107
36                   09 BRONX                  46044             209
7                 02 BROOKLYN                  44061             302
41                10 BROOKLYN                  43990             310
33                08 BROOKLYN                  43872             308
37                09 BROOKLYN                  42655             309
25                06 BROOKLYN                  42539             306
10           02 STATEN ISLAND                  40179             502
0               0 Unspecified                  39385  Invalid BoroCD
38               09 MANHATTAN                  39260             109
14                  03 QUEENS                  39240             403
73       Unspecified BROOKLYN                  38959             3Un
18               04 MANHATTAN                  38819             104
34               08 MANHATTAN                  38327             108
74      Unspecified MANHATTAN                  37652             1Un
44                   11 BRONX                  37505             211
22               05 MANHATTAN                  37466             105
8                02 MANHATTAN                  36688             102
29                07 BROOKLYN                  36290             307
9                   02 QUEENS                  35238             402
19                  04 QUEENS                  33501             404
40                   10 BRONX                  32879             210
32                   08 BRONX                  32807             208
47                  11 QUEENS                  32628             411
24                   06 BRONX                  32439             206
46               11 MANHATTAN                  32428             111
72          Unspecified BRONX                  30591             2Un
55                  14 QUEENS                  30350             414
26               06 MANHATTAN                  29874             106
11                   03 BRONX                  29738             203
57                16 BROOKLYN                  28742             316
75         Unspecified QUEENS                  28459             4Un
1                    01 BRONX                  27353             201
27                  06 QUEENS                  26407             406
52                13 BROOKLYN                  22156             313
3                01 MANHATTAN                  21259             101
6                    02 BRONX                  20039             202
76  Unspecified STATEN ISLAND                   3133             5Un
69                  83 QUEENS                   1100             483
65               64 MANHATTAN                    723             164
66                  80 QUEENS                    582             480
68                  82 QUEENS                    452             482
63                55 BROOKLYN                    365             355
67                  81 QUEENS                    239             481
60                   26 BRONX                    163             226
62                   28 BRONX                    134             228
71           95 STATEN ISLAND                    115             595
61                   27 BRONX                    105             227
64                56 BROOKLYN                     88             356
70                  84 QUEENS                     67             484

Uh oh, there are some unexpected `Unspecified` values in here - how can we get around them?

Let's only recode records that don't start with "U".

In [18]:
def recode_borocd_counts(row):
  if 'MANHATTAN' in row["Community Board"] and row["Community Board"][0] != 'U':
      return '1' + row["Community Board"][:2]
  elif 'BRONX' in row["Community Board"] and row["Community Board"][0] != 'U':
      return '2' + row["Community Board"][:2]
  elif 'BROOKLYN' in row["Community Board"] and row["Community Board"][0] != 'U':
      return '3' + row["Community Board"][:2]
  elif 'QUEENS' in row["Community Board"] and row["Community Board"][0] != 'U':
      return '4' + row["Community Board"][:2]
  elif 'STATEN ISLAND' in row["Community Board"] and row["Community Board"][0] != 'U':
      return '5' + row["Community Board"][:2]
  else:
    return 'Invalid BoroCD'

cb_counts['borocd'] = cb_counts.apply(recode_borocd_counts, axis=1)
cb_counts

              Community Board  count_of_311_requests          borocd
50               12 MANHATTAN                  81402             112
23                  05 QUEENS                  71506             405
51                  12 QUEENS                  70361             412
2                 01 BROOKLYN                  68101             301
12                03 BROOKLYN                  66360             303
5            01 STATEN ISLAND                  65145             501
31                  07 QUEENS                  63634             407
21                05 BROOKLYN                  61836             305
16                   04 BRONX                  61086             204
4                   01 QUEENS                  60425             401
58                17 BROOKLYN                  58864             317
54                14 BROOKLYN                  57194             314
28                   07 BRONX                  55735             207
59                18 BROOKLYN                  54523             318
39                  09 QUEENS                  54421             409
53                  13 QUEENS                  54003             413
48                   12 BRONX                  53688             212
45                11 BROOKLYN                  52801             311
20                   05 BRONX                  51820             205
13               03 MANHATTAN                  51399             103
42               10 MANHATTAN                  50024             110
17                04 BROOKLYN                  49552             304
35                  08 QUEENS                  49221             408
56                15 BROOKLYN                  48739             315
15           03 STATEN ISLAND                  48729             503
43                  10 QUEENS                  48707             410
49                12 BROOKLYN                  46420             312
30               07 MANHATTAN                  46230             107
36                   09 BRONX                  46044             209
7                 02 BROOKLYN                  44061             302
41                10 BROOKLYN                  43990             310
33                08 BROOKLYN                  43872             308
37                09 BROOKLYN                  42655             309
25                06 BROOKLYN                  42539             306
10           02 STATEN ISLAND                  40179             502
0               0 Unspecified                  39385  Invalid BoroCD
38               09 MANHATTAN                  39260             109
14                  03 QUEENS                  39240             403
73       Unspecified BROOKLYN                  38959  Invalid BoroCD
18               04 MANHATTAN                  38819             104
34               08 MANHATTAN                  38327             108
74      Unspecified MANHATTAN                  37652  Invalid BoroCD
44                   11 BRONX                  37505             211
22               05 MANHATTAN                  37466             105
8                02 MANHATTAN                  36688             102
29                07 BROOKLYN                  36290             307
9                   02 QUEENS                  35238             402
19                  04 QUEENS                  33501             404
40                   10 BRONX                  32879             210
32                   08 BRONX                  32807             208
47                  11 QUEENS                  32628             411
24                   06 BRONX                  32439             206
46               11 MANHATTAN                  32428             111
72          Unspecified BRONX                  30591  Invalid BoroCD
55                  14 QUEENS                  30350             414
26               06 MANHATTAN                  29874             106
11                   03 BRONX                  29738             203
57                16 BROOKLYN                  28742             316
75         Unspecified QUEENS                  28459  Invalid BoroCD
1                    01 BRONX                  27353             201
27                  06 QUEENS                  26407             406
52                13 BROOKLYN                  22156             313
3                01 MANHATTAN                  21259             101
6                    02 BRONX                  20039             202
76  Unspecified STATEN ISLAND                   3133  Invalid BoroCD
69                  83 QUEENS                   1100             483
65               64 MANHATTAN                    723             164
66                  80 QUEENS                    582             480
68                  82 QUEENS                    452             482
63                55 BROOKLYN                    365             355
67                  81 QUEENS                    239             481
60                   26 BRONX                    163             226
62                   28 BRONX                    134             228
71           95 STATEN ISLAND                    115             595
61                   27 BRONX                    105             227
64                56 BROOKLYN                     88             356
70                  84 QUEENS                     67             484

We can make this function easier to read by isolating the logic that applies to all the conditions. This is called "refactoring".

In [19]:
def recode_borocd_counts(row):
    board = row["Community Board"]

    if board[0] != 'U':
        num = board[0:2]
        
        if 'MANHATTAN' in board:
            return '1' + num
        elif 'BRONX' in board:
            return '2' + num
        elif 'BROOKLYN' in board:
            return '3' + num
        elif 'QUEENS' in board:
            return '4' + num
        elif 'STATEN ISLAND' in board:
            return '5' + num
    else:
        return 'Invalid BoroCD'

In [20]:
cb_counts['borocd'] = cb_counts.apply(recode_borocd_counts, axis=1)
cb_counts

              Community Board  count_of_311_requests          borocd
50               12 MANHATTAN                  81402             112
23                  05 QUEENS                  71506             405
51                  12 QUEENS                  70361             412
2                 01 BROOKLYN                  68101             301
12                03 BROOKLYN                  66360             303
5            01 STATEN ISLAND                  65145             501
31                  07 QUEENS                  63634             407
21                05 BROOKLYN                  61836             305
16                   04 BRONX                  61086             204
4                   01 QUEENS                  60425             401
58                17 BROOKLYN                  58864             317
54                14 BROOKLYN                  57194             314
28                   07 BRONX                  55735             207
59                18 BROOKLYN                  54523             318
39                  09 QUEENS                  54421             409
53                  13 QUEENS                  54003             413
48                   12 BRONX                  53688             212
45                11 BROOKLYN                  52801             311
20                   05 BRONX                  51820             205
13               03 MANHATTAN                  51399             103
42               10 MANHATTAN                  50024             110
17                04 BROOKLYN                  49552             304
35                  08 QUEENS                  49221             408
56                15 BROOKLYN                  48739             315
15           03 STATEN ISLAND                  48729             503
43                  10 QUEENS                  48707             410
49                12 BROOKLYN                  46420             312
30               07 MANHATTAN                  46230             107
36                   09 BRONX                  46044             209
7                 02 BROOKLYN                  44061             302
41                10 BROOKLYN                  43990             310
33                08 BROOKLYN                  43872             308
37                09 BROOKLYN                  42655             309
25                06 BROOKLYN                  42539             306
10           02 STATEN ISLAND                  40179             502
0               0 Unspecified                  39385            None
38               09 MANHATTAN                  39260             109
14                  03 QUEENS                  39240             403
73       Unspecified BROOKLYN                  38959  Invalid BoroCD
18               04 MANHATTAN                  38819             104
34               08 MANHATTAN                  38327             108
74      Unspecified MANHATTAN                  37652  Invalid BoroCD
44                   11 BRONX                  37505             211
22               05 MANHATTAN                  37466             105
8                02 MANHATTAN                  36688             102
29                07 BROOKLYN                  36290             307
9                   02 QUEENS                  35238             402
19                  04 QUEENS                  33501             404
40                   10 BRONX                  32879             210
32                   08 BRONX                  32807             208
47                  11 QUEENS                  32628             411
24                   06 BRONX                  32439             206
46               11 MANHATTAN                  32428             111
72          Unspecified BRONX                  30591  Invalid BoroCD
55                  14 QUEENS                  30350             414
26               06 MANHATTAN                  29874             106
11                   03 BRONX                  29738             203
57                16 BROOKLYN                  28742             316
75         Unspecified QUEENS                  28459  Invalid BoroCD
1                    01 BRONX                  27353             201
27                  06 QUEENS                  26407             406
52                13 BROOKLYN                  22156             313
3                01 MANHATTAN                  21259             101
6                    02 BRONX                  20039             202
76  Unspecified STATEN ISLAND                   3133  Invalid BoroCD
69                  83 QUEENS                   1100             483
65               64 MANHATTAN                    723             164
66                  80 QUEENS                    582             480
68                  82 QUEENS                    452             482
63                55 BROOKLYN                    365             355
67                  81 QUEENS                    239             481
60                   26 BRONX                    163             226
62                   28 BRONX                    134             228
71           95 STATEN ISLAND                    115             595
61                   27 BRONX                    105             227
64                56 BROOKLYN                     88             356
70                  84 QUEENS                     67             484

### Next, let's create the `borocd` column in the population dataset

In [21]:
population.head()

,Borough,CD Number,CD Name,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population
0,Bronx,1,"Melrose, Mott Haven, Port Morris",138557,78441,77214,82159,91497
1,Bronx,2,"Hunts Point, Longwood",99493,34399,39443,46824,52246
2,Bronx,3,"Morrisania, Crotona Park East",150636,53635,57162,68574,79762
3,Bronx,4,"Highbridge, Concourse Village",144207,114312,119962,139563,146441
4,Bronx,5,"University Hts., Fordham, Mt. Hope",121807,107995,118435,128313,128200

Create a function `recode_borocd_pop` that combines and recodes the Borough and CD Number values to create a BoroCD unique ID.

In [22]:
def recode_borocd_pop(row):
  if row.Borough == 'Manhattan':
    return str(100 + row['CD Number'])
  elif row.Borough == 'Bronx':
    return str(200 + row['CD Number'])
  elif row.Borough == 'Brooklyn':
    return str(300 + row['CD Number'])
  elif row.Borough == 'Queens':
    return str(400 + row['CD Number'])
  elif row.Borough == 'Staten Island':
    return str(500 + row['CD Number'])
  else:
    return 'Invalid BoroCD'

In [23]:
population['borocd'] = population.apply(recode_borocd_pop, axis=1)
population

,Borough,CD Number,CD Name,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population,borocd
0,Bronx,1,"Melrose, Mott Haven, Port Morris",138557,78441,77214,82159,91497,201
1,Bronx,2,"Hunts Point, Longwood",99493,34399,39443,46824,52246,202
2,Bronx,3,"Morrisania, Crotona Park East",150636,53635,57162,68574,79762,203
3,Bronx,4,"Highbridge, Concourse Village",144207,114312,119962,139563,146441,204
4,Bronx,5,"University Hts., Fordham, Mt. Hope",121807,107995,118435,128313,128200,205
5,Bronx,6,"East Tremont, Belmont",114137,65016,68061,75688,83268,206
6,Bronx,7,"Bedford Park, Norwood, Fordham",113764,116827,128588,141411,139286,207
7,Bronx,8,"Riverdale, Kingsbridge, Marble Hill",103543,98275,97030,101332,101731,208
8,Bronx,9,"Soundview, Parkchester",166442,167627,155970,167859,172298,209
9,Bronx,10,"Throgs Nk., Co-op City, Pelham Bay",84948,106516,108093,115948,120392,210
10,Bronx,11,"Pelham Pkwy, Morris Park, Laconia",105980,99080,97842,110706,113232,211
11,Bronx,12,"Wakefield, Williamsbridge",135010,128226,129620,149077,152344,212
12,Brooklyn,1,"Williamsburg, Greenpoint",179390,142942,155972,160338,173083,301
13,Brooklyn,2,"Brooklyn Heights, Fort Greene",110221,92732,94534,98620,99617,302
14,Brooklyn,3,Bedford Stuyvesant,203380,133379,138696,143867,152985,303
15,Brooklyn,4,Bushwick,137902,92497,102572,104358,112634,304
16,Brooklyn,5,"East New York, Starrett City",170791,154931,161350,173198,182896,305
17,Brooklyn,6,"Park Slope, Carroll Gardens",138933,110228,102724,104054,104709,306
18,Brooklyn,7,"Sunset Park, Windsor Terrace",111607,98567,102553,120063,126230,307
19,Brooklyn,8,Crown Heights North,121821,88796,96400,96076,96317,308
20,Brooklyn,9,"Crown Heights South, Wingate",101047,96669,110715,104014,98429,309
21,Brooklyn,10,"Bay Ridge, Dyker Heights",129822,118187,110612,122542,124491,310
22,Brooklyn,11,"Bensonhurst, Bath Beach",170119,155072,149994,172129,181981,311
23,Brooklyn,12,"Borough Park, Ocean Parkway",166301,155899,160018,185046,191382,312
24,Brooklyn,13,"Coney Island, Brighton Beach",97750,100030,102596,106120,104278,313
25,Brooklyn,14,"Flatbush, Midwood",137041,143859,159825,168806,160664,314
26,Brooklyn,15,"Sheepshead Bay, Gerritsen Beach",164815,149572,143477,160319,159650,315
27,Brooklyn,16,"Brownsville, Ocean Hill",122589,73801,84923,85343,86468,316
28,Brooklyn,17,"East Flatbush, Rugby, Farragut",149496,154596,161261,165753,155252,317
29,Brooklyn,18,"Canarsie, Flatlands",188643,169092,162428,194653,193543,318
30,Manhattan,1,"Battery Park City, Tribeca",7706,15918,25366,34420,60978,101
31,Manhattan,2,"Greenwich Village, Soho",84337,87069,94105,93119,90016,102
32,Manhattan,3,"Lower East Side, Chinatown",181845,154848,161617,164407,163277,103
33,Manhattan,4,"Chelsea, Clinton",83601,82164,84431,87479,103245,104
34,Manhattan,5,Midtown Business District,31076,39544,43507,44028,51673,105
35,Manhattan,6,"Stuyvesant Town, Turtle Bay",122465,127554,133748,136152,142745,106
36,Manhattan,7,"West Side, Upper West Side",212422,206669,210993,207699,209084,107
37,Manhattan,8,Upper East Side,200851,204305,210880,217063,219920,108
38,Manhattan,9,"Manhattanville, Hamilton Heights",113606,103038,106978,111724,110193,109
39,Manhattan,10,Central Harlem,159267,105641,99519,107109,115723,110
40,Manhattan,11,East Harlem,154662,114569,110508,117743,120511,111
41,Manhattan,12,"Washington Heights, Inwood",180561,179941,198192,208414,190020,112
42,Queens,1,"Astoria, Long Island City",185925,185198,188549,211220,191105,401
43,Queens,2,"Sunnyside, Woodside",95073,88927,94845,109920,113200,402
44,Queens,3,"Jackson Heights, North Corona",123635,122090,128924,169083,171576,403
45,Queens,4,"Elmhurst, South Corona",108233,118430,137023,167005,172598,404
46,Queens,5,"Ridgewood, Glendale, Maspeth",161022,150142,149126,165911,169190,405
47,Queens,6,"Forest Hills, Rego Park",120429,112245,106996,115967,113257,406
48,Queens,7,"Flushing, Bay Terrace",207589,204785,220508,242952,247354,407
49,Queens,8,"Fresh Meadows, Briarwood",142468,125312,132101,146594,151107,408
50,Queens,9,"Woodhaven, Richmond Hill",110367,109505,112151,141608,143317,409
51,Queens,10,"Ozone Park, Howard Beach",113857,105651,107768,127274,122396,410
52,Queens,11,"Bayside, Douglaston, Little Neck",127883,110963,108056,116404,116431,411
53,Queens,12,"Jamaica, St. Albans, Hollis",206639,189383,201293,223602,225919,412
54,Queens,13,"Queens Village, Rosedale",184647,173178,177535,196284,188593,413
55,Queens,14,"The Rockaways, Broad Channel",98228,100592,100596,106686,114978,414
56,Staten Island,1,"Stapleton, Port Richmond",135875,138489,137806,162609,175756,501
57,Staten Island,2,"New Springville, South Beach",85985,105128,113944,127071,132003,502
58,Staten Island,3,"Tottenville, Woodrow, Great Kills",72815,108249,126956,152908,160209,503

## Join the population data onto the counts data after creating shared `borocd` unique ID

To join dataframes together, we will use the [pandas `.merge()` function](https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/08_combine_dataframes.html#join-tables-using-a-common-identifier).

![merge diagram](https://pandas.pydata.org/pandas-docs/stable/_images/08_merge_left.svg)

In [24]:
merged_data = pd.merge(left=cb_counts, right=population, left_on='borocd', right_on='borocd')
merged_data

,Community Board,count_of_311_requests,borocd,Borough,CD Number,CD Name,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population
0,12 MANHATTAN,81402,112,Manhattan,12,"Washington Heights, Inwood",180561,179941,198192,208414,190020
1,05 QUEENS,71506,405,Queens,5,"Ridgewood, Glendale, Maspeth",161022,150142,149126,165911,169190
2,12 QUEENS,70361,412,Queens,12,"Jamaica, St. Albans, Hollis",206639,189383,201293,223602,225919
3,01 BROOKLYN,68101,301,Brooklyn,1,"Williamsburg, Greenpoint",179390,142942,155972,160338,173083
4,03 BROOKLYN,66360,303,Brooklyn,3,Bedford Stuyvesant,203380,133379,138696,143867,152985
5,01 STATEN ISLAND,65145,501,Staten Island,1,"Stapleton, Port Richmond",135875,138489,137806,162609,175756
6,07 QUEENS,63634,407,Queens,7,"Flushing, Bay Terrace",207589,204785,220508,242952,247354
7,05 BROOKLYN,61836,305,Brooklyn,5,"East New York, Starrett City",170791,154931,161350,173198,182896
8,04 BRONX,61086,204,Bronx,4,"Highbridge, Concourse Village",144207,114312,119962,139563,146441
9,01 QUEENS,60425,401,Queens,1,"Astoria, Long Island City",185925,185198,188549,211220,191105
10,17 BROOKLYN,58864,317,Brooklyn,17,"East Flatbush, Rugby, Farragut",149496,154596,161261,165753,155252
11,14 BROOKLYN,57194,314,Brooklyn,14,"Flatbush, Midwood",137041,143859,159825,168806,160664
12,07 BRONX,55735,207,Bronx,7,"Bedford Park, Norwood, Fordham",113764,116827,128588,141411,139286
13,18 BROOKLYN,54523,318,Brooklyn,18,"Canarsie, Flatlands",188643,169092,162428,194653,193543
14,09 QUEENS,54421,409,Queens,9,"Woodhaven, Richmond Hill",110367,109505,112151,141608,143317
15,13 QUEENS,54003,413,Queens,13,"Queens Village, Rosedale",184647,173178,177535,196284,188593
16,12 BRONX,53688,212,Bronx,12,"Wakefield, Williamsbridge",135010,128226,129620,149077,152344
17,11 BROOKLYN,52801,311,Brooklyn,11,"Bensonhurst, Bath Beach",170119,155072,149994,172129,181981
18,05 BRONX,51820,205,Bronx,5,"University Hts., Fordham, Mt. Hope",121807,107995,118435,128313,128200
19,03 MANHATTAN,51399,103,Manhattan,3,"Lower East Side, Chinatown",181845,154848,161617,164407,163277
20,10 MANHATTAN,50024,110,Manhattan,10,Central Harlem,159267,105641,99519,107109,115723
21,04 BROOKLYN,49552,304,Brooklyn,4,Bushwick,137902,92497,102572,104358,112634
22,08 QUEENS,49221,408,Queens,8,"Fresh Meadows, Briarwood",142468,125312,132101,146594,151107
23,15 BROOKLYN,48739,315,Brooklyn,15,"Sheepshead Bay, Gerritsen Beach",164815,149572,143477,160319,159650
24,03 STATEN ISLAND,48729,503,Staten Island,3,"Tottenville, Woodrow, Great Kills",72815,108249,126956,152908,160209
25,10 QUEENS,48707,410,Queens,10,"Ozone Park, Howard Beach",113857,105651,107768,127274,122396
26,12 BROOKLYN,46420,312,Brooklyn,12,"Borough Park, Ocean Parkway",166301,155899,160018,185046,191382
27,07 MANHATTAN,46230,107,Manhattan,7,"West Side, Upper West Side",212422,206669,210993,207699,209084
28,09 BRONX,46044,209,Bronx,9,"Soundview, Parkchester",166442,167627,155970,167859,172298
29,02 BROOKLYN,44061,302,Brooklyn,2,"Brooklyn Heights, Fort Greene",110221,92732,94534,98620,99617
30,10 BROOKLYN,43990,310,Brooklyn,10,"Bay Ridge, Dyker Heights",129822,118187,110612,122542,124491
31,08 BROOKLYN,43872,308,Brooklyn,8,Crown Heights North,121821,88796,96400,96076,96317
32,09 BROOKLYN,42655,309,Brooklyn,9,"Crown Heights South, Wingate",101047,96669,110715,104014,98429
33,06 BROOKLYN,42539,306,Brooklyn,6,"Park Slope, Carroll Gardens",138933,110228,102724,104054,104709
34,02 STATEN ISLAND,40179,502,Staten Island,2,"New Springville, South Beach",85985,105128,113944,127071,132003
35,09 MANHATTAN,39260,109,Manhattan,9,"Manhattanville, Hamilton Heights",113606,103038,106978,111724,110193
36,03 QUEENS,39240,403,Queens,3,"Jackson Heights, North Corona",123635,122090,128924,169083,171576
37,04 MANHATTAN,38819,104,Manhattan,4,"Chelsea, Clinton",83601,82164,84431,87479,103245
38,08 MANHATTAN,38327,108,Manhattan,8,Upper East Side,200851,204305,210880,217063,219920
39,11 BRONX,37505,211,Bronx,11,"Pelham Pkwy, Morris Park, Laconia",105980,99080,97842,110706,113232
40,05 MANHATTAN,37466,105,Manhattan,5,Midtown Business District,31076,39544,43507,44028,51673
41,02 MANHATTAN,36688,102,Manhattan,2,"Greenwich Village, Soho",84337,87069,94105,93119,90016
42,07 BROOKLYN,36290,307,Brooklyn,7,"Sunset Park, Windsor Terrace",111607,98567,102553,120063,126230
43,02 QUEENS,35238,402,Queens,2,"Sunnyside, Woodside",95073,88927,94845,109920,113200
44,04 QUEENS,33501,404,Queens,4,"Elmhurst, South Corona",108233,118430,137023,167005,172598
45,10 BRONX,32879,210,Bronx,10,"Throgs Nk., Co-op City, Pelham Bay",84948,106516,108093,115948,120392
46,08 BRONX,32807,208,Bronx,8,"Riverdale, Kingsbridge, Marble Hill",103543,98275,97030,101332,101731
47,11 QUEENS,32628,411,Queens,11,"Bayside, Douglaston, Little Neck",127883,110963,108056,116404,116431
48,06 BRONX,32439,206,Bronx,6,"East Tremont, Belmont",114137,65016,68061,75688,83268
49,11 MANHATTAN,32428,111,Manhattan,11,East Harlem,154662,114569,110508,117743,120511
50,14 QUEENS,30350,414,Queens,14,"The Rockaways, Broad Channel",98228,100592,100596,106686,114978
51,06 MANHATTAN,29874,106,Manhattan,6,"Stuyvesant Town, Turtle Bay",122465,127554,133748,136152,142745
52,03 BRONX,29738,203,Bronx,3,"Morrisania, Crotona Park East",150636,53635,57162,68574,79762
53,16 BROOKLYN,28742,316,Brooklyn,16,"Brownsville, Ocean Hill",122589,73801,84923,85343,86468
54,01 BRONX,27353,201,Bronx,1,"Melrose, Mott Haven, Port Morris",138557,78441,77214,82159,91497
55,06 QUEENS,26407,406,Queens,6,"Forest Hills, Rego Park",120429,112245,106996,115967,113257
56,13 BROOKLYN,22156,313,Brooklyn,13,"Coney Island, Brighton Beach",97750,100030,102596,106120,104278
57,01 MANHATTAN,21259,101,Manhattan,1,"Battery Park City, Tribeca",7706,15918,25366,34420,60978
58,02 BRONX,20039,202,Bronx,2,"Hunts Point, Longwood",99493,34399,39443,46824,52246

## Calculate 311 requests per capita

In [25]:
# divide request count by 2010 population to get request per capita

merged_data['request_per_capita'] = merged_data.count_of_311_requests / merged_data['2010 Population']

merged_data.head()

,Community Board,count_of_311_requests,borocd,Borough,CD Number,CD Name,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population,request_per_capita
0,12 MANHATTAN,81402,112,Manhattan,12,"Washington Heights, Inwood",180561,179941,198192,208414,190020,0.428386
1,05 QUEENS,71506,405,Queens,5,"Ridgewood, Glendale, Maspeth",161022,150142,149126,165911,169190,0.422637
2,12 QUEENS,70361,412,Queens,12,"Jamaica, St. Albans, Hollis",206639,189383,201293,223602,225919,0.311443
3,01 BROOKLYN,68101,301,Brooklyn,1,"Williamsburg, Greenpoint",179390,142942,155972,160338,173083,0.393459
4,03 BROOKLYN,66360,303,Brooklyn,3,Bedford Stuyvesant,203380,133379,138696,143867,152985,0.433768

Let's create a simplified new dataframe that only include the columns we care about and in a better order.

In [26]:
columns = ['borocd', 'Borough', 'CD Name', '2010 Population', 'count_of_311_requests', 'request_per_capita']
cd_data = merged_data[columns]

cd_data

,borocd,Borough,CD Name,2010 Population,count_of_311_requests,request_per_capita
0,112,Manhattan,"Washington Heights, Inwood",190020,81402,0.428386
1,405,Queens,"Ridgewood, Glendale, Maspeth",169190,71506,0.422637
2,412,Queens,"Jamaica, St. Albans, Hollis",225919,70361,0.311443
3,301,Brooklyn,"Williamsburg, Greenpoint",173083,68101,0.393459
4,303,Brooklyn,Bedford Stuyvesant,152985,66360,0.433768
5,501,Staten Island,"Stapleton, Port Richmond",175756,65145,0.370656
6,407,Queens,"Flushing, Bay Terrace",247354,63634,0.257259
7,305,Brooklyn,"East New York, Starrett City",182896,61836,0.338094
8,204,Bronx,"Highbridge, Concourse Village",146441,61086,0.417137
9,401,Queens,"Astoria, Long Island City",191105,60425,0.316187
10,317,Brooklyn,"East Flatbush, Rugby, Farragut",155252,58864,0.379151
11,314,Brooklyn,"Flatbush, Midwood",160664,57194,0.355985
12,207,Bronx,"Bedford Park, Norwood, Fordham",139286,55735,0.400148
13,318,Brooklyn,"Canarsie, Flatlands",193543,54523,0.281710
14,409,Queens,"Woodhaven, Richmond Hill",143317,54421,0.379725
15,413,Queens,"Queens Village, Rosedale",188593,54003,0.286347
16,212,Bronx,"Wakefield, Williamsbridge",152344,53688,0.352413
17,311,Brooklyn,"Bensonhurst, Bath Beach",181981,52801,0.290146
18,205,Bronx,"University Hts., Fordham, Mt. Hope",128200,51820,0.404212
19,103,Manhattan,"Lower East Side, Chinatown",163277,51399,0.314796
20,110,Manhattan,Central Harlem,115723,50024,0.432274
21,304,Brooklyn,Bushwick,112634,49552,0.439938
22,408,Queens,"Fresh Meadows, Briarwood",151107,49221,0.325736
23,315,Brooklyn,"Sheepshead Bay, Gerritsen Beach",159650,48739,0.305287
24,503,Staten Island,"Tottenville, Woodrow, Great Kills",160209,48729,0.304159
25,410,Queens,"Ozone Park, Howard Beach",122396,48707,0.397946
26,312,Brooklyn,"Borough Park, Ocean Parkway",191382,46420,0.242552
27,107,Manhattan,"West Side, Upper West Side",209084,46230,0.221107
28,209,Bronx,"Soundview, Parkchester",172298,46044,0.267235
29,302,Brooklyn,"Brooklyn Heights, Fort Greene",99617,44061,0.442304
30,310,Brooklyn,"Bay Ridge, Dyker Heights",124491,43990,0.353359
31,308,Brooklyn,Crown Heights North,96317,43872,0.455496
32,309,Brooklyn,"Crown Heights South, Wingate",98429,42655,0.433358
33,306,Brooklyn,"Park Slope, Carroll Gardens",104709,42539,0.406259
34,502,Staten Island,"New Springville, South Beach",132003,40179,0.304379
35,109,Manhattan,"Manhattanville, Hamilton Heights",110193,39260,0.356284
36,403,Queens,"Jackson Heights, North Corona",171576,39240,0.228703
37,104,Manhattan,"Chelsea, Clinton",103245,38819,0.375989
38,108,Manhattan,Upper East Side,219920,38327,0.174277
39,211,Bronx,"Pelham Pkwy, Morris Park, Laconia",113232,37505,0.331223
40,105,Manhattan,Midtown Business District,51673,37466,0.725060
41,102,Manhattan,"Greenwich Village, Soho",90016,36688,0.407572
42,307,Brooklyn,"Sunset Park, Windsor Terrace",126230,36290,0.287491
43,402,Queens,"Sunnyside, Woodside",113200,35238,0.311290
44,404,Queens,"Elmhurst, South Corona",172598,33501,0.194098
45,210,Bronx,"Throgs Nk., Co-op City, Pelham Bay",120392,32879,0.273100
46,208,Bronx,"Riverdale, Kingsbridge, Marble Hill",101731,32807,0.322488
47,411,Queens,"Bayside, Douglaston, Little Neck",116431,32628,0.280235
48,206,Bronx,"East Tremont, Belmont",83268,32439,0.389573
49,111,Manhattan,East Harlem,120511,32428,0.269087
50,414,Queens,"The Rockaways, Broad Channel",114978,30350,0.263964
51,106,Manhattan,"Stuyvesant Town, Turtle Bay",142745,29874,0.209282
52,203,Bronx,"Morrisania, Crotona Park East",79762,29738,0.372834
53,316,Brooklyn,"Brownsville, Ocean Hill",86468,28742,0.332400
54,201,Bronx,"Melrose, Mott Haven, Port Morris",91497,27353,0.298950
55,406,Queens,"Forest Hills, Rego Park",113257,26407,0.233160
56,313,Brooklyn,"Coney Island, Brighton Beach",104278,22156,0.212471
57,101,Manhattan,"Battery Park City, Tribeca",60978,21259,0.348634
58,202,Bronx,"Hunts Point, Longwood",52246,20039,0.383551

Let's check out which Community Districts have the highest complaints per capita

In [27]:
cd_data.sort_values('request_per_capita', ascending=False).head(10)

,borocd,Borough,CD Name,2010 Population,count_of_311_requests,request_per_capita
40,105,Manhattan,Midtown Business District,51673,37466,0.725060
31,308,Brooklyn,Crown Heights North,96317,43872,0.455496
29,302,Brooklyn,"Brooklyn Heights, Fort Greene",99617,44061,0.442304
21,304,Brooklyn,Bushwick,112634,49552,0.439938
4,303,Brooklyn,Bedford Stuyvesant,152985,66360,0.433768
32,309,Brooklyn,"Crown Heights South, Wingate",98429,42655,0.433358
20,110,Manhattan,Central Harlem,115723,50024,0.432274
0,112,Manhattan,"Washington Heights, Inwood",190020,81402,0.428386
1,405,Queens,"Ridgewood, Glendale, Maspeth",169190,71506,0.422637
8,204,Bronx,"Highbridge, Concourse Village",146441,61086,0.417137

While Inwood (112) had the highest number of complaints, it ranks further down on the list for requests per capita. Midtown may also be an outlier, based on it's low residential population.

## Next class we'll produce charts and maps to better visualize the differences in magnitude of the 311 requests per capita values.

# Homework 2

1. Open [the notebook](https://colab.research.google.com/github/afeld/python-public-policy/blob/main/hw_2.ipynb)
1. Save a copy in Drive