<a href="https://colab.research.google.com/github/afeld/python-public-policy/blob/main/pandas_crash_course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Analysis in Python

_pandas, specifically._

Aidan Feldman

## Stuff to know up front

- Pulled from [a Python for Public Policy class](https://github.com/afeld/nyu-python-public-policy/blob/master/syllabus.md#readme) I teach
- Going to go _very fast_. Stop me with any questions.
- Goal is not for you to totally get what's going on; goal is to whet your appetite üêº üêç

## Terminology

Thing | What is it?
--- | ---
Python | programming language
package | add-on/plugin for Python
pandas | package for data analysis
plotly | package for data visualization
Jupyter | programming environment; supports Markdown + code + HTML output; can run Python and [tons of other languages](https://github.com/jupyter/jupyter/wiki/Jupyter-kernels)
notebook | individual Jupyter files; think Markdown file where you can execute the code snippets
Google Colaboratory ("Colab") | cloud-based Jupyter
Markdown | markup language; think "simple HTML"

- Jupyter notebooks are magical. This presentation is a notebook.
- You can use pandas anywhere you can run Python, but Jupyter makes things easier.

### Command line vs. Jupyter

![Command line vs. Jupyter output](img/cli_vs_jupyter.png)

## Spreadsheets vs. pandas

### Why spreadsheets

- The easy stuff is easy
- Lots of people know how to use them
- Mostly just have to point, click, and scroll
- Data and logic live together as one

### Why pandas

- Data and logic _don't_ live together
- More powerful, flexible, and expressive than spreadsheet formulas

  - Don't have to cram into a single line

    ```excel
    =SUM(INDEX(C3:E9,MATCH(B13,C3:C9,0),MATCH(B14,C3:E3,0)))
    ```

  - Can have more descriptive data references than `Sheet1!A:A`

### Side-by-side\*

|                       Task |  Spreadsheets  | pandas |
| -------------------------: | :------------: | :----: |
|           **Loading data** |      Easy      | Medium |
|           **Viewing data** |      Easy      | Medium |
|         **Filtering data** |      Easy      | Medium |
|      **Manipulating data** |     Medium     | Medium |
|           **Joining data** |      Hard      | Medium |
| **Complicated transforms** | Impossible\*\* | Medium |
|             **Automation** | Impossible\*\* | Medium |
|        **Making reusable** | Impossible\*\* | Medium |
|         **Large datasets** |   Impossible\*\*\*   |  Hard  |

_\*Ratings are obviously somewhat subjective._

_\*\*Not including scripting._

_\*\*\*Google Sheets and Excel have hard limits at 1-5 million rows, but get slow long before that._

### Try it!

1. Create a Colab notebook
   1. Go to [colab.research.google.com](https://colab.research.google.com)
   1. Click `NEW NOTEBOOK`
1. Paste in [the following example](https://plotly.com/python/linear-fits/#linear-fit-trendlines-with-plotly-express):

    ```python
    import plotly.express as px

    df = px.data.tips()
    fig = px.scatter(df, x="total_bill", y="tip", trendline="ols")
    fig.show()
    ```

1. Press the ‚ñ∂Ô∏è button

### Jupyter basics

- You "run" a cell by either:
    - Pressing the ‚ñ∂Ô∏è button
    - Pressing `‚åò`+`Enter` (Mac) or `Control`+`Enter` (Windows) on your keyboard
- Cells don't run unless you tell them to, in the order you do so
    - Generally, you want to do so from the top every time you open a notebook

#### Output

- The last thing in a code cell is what gets displayed when it's run
- Just because there's existing output from a cell, doesn't mean that cell has been run during this session

## NOTEBOOKS HAVE STATE.

This trips people up frequently.

## Population counts in NYC Community Districts

- Lets do some data munging.
- Community Districts are basically neighborhoods.
- We'll use [this data for population by Community District](https://data.cityofnewyork.us/City-Government/New-York-City-Population-By-Community-Districts/xi7c-iiu2/data).

Load pandas.

In [1]:
import pandas as pd

Load data.

In [4]:
df = pd.read_csv('https://data.cityofnewyork.us/api/views/xi7c-iiu2/rows.csv')
df.head(10)

,Borough,CD Number,CD Name,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population
0,Bronx,1,"Melrose, Mott Haven, Port Morris",138557,78441,77214,82159,91497
1,Bronx,2,"Hunts Point, Longwood",99493,34399,39443,46824,52246
2,Bronx,3,"Morrisania, Crotona Park East",150636,53635,57162,68574,79762
3,Bronx,4,"Highbridge, Concourse Village",144207,114312,119962,139563,146441
4,Bronx,5,"University Hts., Fordham, Mt. Hope",121807,107995,118435,128313,128200
5,Bronx,6,"East Tremont, Belmont",114137,65016,68061,75688,83268
6,Bronx,7,"Bedford Park, Norwood, Fordham",113764,116827,128588,141411,139286
7,Bronx,8,"Riverdale, Kingsbridge, Marble Hill",103543,98275,97030,101332,101731
8,Bronx,9,"Soundview, Parkchester",166442,167627,155970,167859,172298
9,Bronx,10,"Throgs Nk., Co-op City, Pelham Bay",84948,106516,108093,115948,120392

What are the largest Community Districts?

In [9]:
df.sort_values('2010 Population', ascending=False).head(3)

,Borough,CD Number,CD Name,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population
48,Queens,7,"Flushing, Bay Terrace",207589,204785,220508,242952,247354
53,Queens,12,"Jamaica, St. Albans, Hollis",206639,189383,201293,223602,225919
37,Manhattan,8,Upper East Side,200851,204305,210880,217063,219920

What are the populations per borough?

In [16]:
pop_by_borough = df.groupby('Borough').sum()
pop_by_borough

,CD Number,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population
Borough,,,,,,
Bronx,78,1478524,1170349,1197420,1327454,1380697
Brooklyn,171,2601668,2230849,2300650,2465299,2504609
Manhattan,78,1532399,1421260,1479844,1529357,1577385
Queens,105,1985995,1896401,1965471,2240510,2241021
Staten Island,6,294675,351866,378706,442588,467968

It summed all numeric columns, but the `CD Number` doesn't make sense in there. Let's remove.

In [17]:
pop_by_borough.drop(['CD Number'], axis=1, inplace=True)
pop_by_borough

,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population
Borough,,,,,
Bronx,1478524,1170349,1197420,1327454,1380697
Brooklyn,2601668,2230849,2300650,2465299,2504609
Manhattan,1532399,1421260,1479844,1529357,1577385
Queens,1985995,1896401,1965471,2240510,2241021
Staten Island,294675,351866,378706,442588,467968

How have the populations changed?

In [18]:
pop_by_borough.pct_change(axis='columns')

,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population
Borough,,,,,
Bronx,NaN,-0.208434,0.023131,0.108595,0.040109
Brooklyn,NaN,-0.142531,0.031289,0.071566,0.015945
Manhattan,NaN,-0.072526,0.041220,0.033458,0.031404
Queens,NaN,-0.045113,0.036422,0.139935,0.000228
Staten Island,NaN,0.194082,0.076279,0.168685,0.057345